{% extends "signedout.html" %}
{% block body %}



        <div class="container">
            Congratulations you have successfully activated your account.Please sign in.
          <form class="form-signin" role="form">
            <input type="email" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            {{ form.csrf_token }}
          </form>
        </div>


 {% endblock %}
