{% extends "signedout.html" %}
{% block body %}


        <div class="container">
           <form method="POST" action="{{ url_for('account.signin') }}" class="form-signin" role="form">
          {{form.email(class='form-control',placeholder='Email address')}}
            <input type="password" name="password" class="form-control" placeholder="Password" autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            Forgot password?  <a href="{{ url_for('account.forgot_password') }}">Reset password</a>
            {{ form.csrf_token }}
          </form>
        </div>


 {% endblock %}
