{% extends "signedout.html" %}
{% block body %}


        <div class="container">
        Please use this form to send an email to reset your password or to send a new account confirmation email.
          <form method="POST" action="{{ url_for('account.forgot_password') }}" class="form-signin" role="form">
            {{form.email(class='form-control',placeholder='Email address',required=False,autofocus=True,onfocus='this.value = this.value;')}}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
            <a href="{{ url_for('home.index') }}">Sign in</a>
             {{ form.csrf_token }}
          </form>
        </div>


 {% endblock %}
