{% extends "signedout.html" %}
{% block body %}


        <div class="container">
         <div class="blog-header ">
            Change your password
          </div>




        {% for message in get_flashed_messages() %}
          {{ message }}<br />
          {% endfor %}
          <form method="POST" action="{{ url_for('account.forgot_password') }}" class="form-signin" role="form">

             {{form.state(class='form-control',placeholder='State on Account',maxlength=2, required=True ,autofocus=True,onfocus='this.value = this.value;')}}
          {{form.firstname(class='form-control',placeholder='First name on Account',required=True,autofocus=True,onfocus='this.value = this.value;')}}
          {{form.lastname(class='form-control',placeholder='Last name on Account',required=True,autofocus=True,onfocus='this.value = this.value;')}}
          {{form.barnumber(class='form-control',placeholder='Bar number on Account',required=True)}}
             {{form.username(class='form-control',placeholder='User name on Accounnt',required=True,autofocus=True,onfocus='this.value = this.value;')}}
            {{form.email(class='form-control',placeholder='Email address on Account',required=True)}}
            <input type="password" name="password" class="form-control" placeholder="New Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button><br />
              <a href="{{ url_for('account.signinform') }}">Sign in</a>
             {{ form.csrf_token }}
          </form>
      </div>

 {% endblock %}
