
{% extends "signedout.html" %}
{% block body %}


        <div class="container">
          {% for message in get_flashed_messages() %}
          {{ message }}<br />
          {% endfor %}
           <form method="POST" action="{{ url_for('account.signin') }}" class="form-signin" role="form">
          {{form.email(class='form-control',placeholder='Email address',required=True,autofocus=True,onfocus='this.value = this.value;')}}
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            New user?  <a href="{{ url_for('account.signup') }}">Sign up</a><br/>
            Forgot password?  <a href="{{ url_for('account.forgot_password') }}">Reset password</a>
            {{ form.csrf_token }}
          </form>
        </div>


 {% endblock %}
