{% extends "signedout.html" %}
{% block body %}

        <div class="container">
          <div class="blog-header ">
             <p class="lead blog-description">Congratulations, you have successfully created your new JudgeJungle account.<br/>Check your inbox for a confirmation email to activate and sign in to your new account. Please allow a few minutes for the confirmation email to be delivered and be sure to also check your spam folder if you do not receive your confirmation email within the next five minutes<br/>
             If you do not recieve this confirmation email within the next five minutes, please use <a href="#">this</a> link or the forgot password link on the home page to send a new confirmation email.<br/>Sincerely, founders of Judge Jungle</p>
          </div>
        </div>
 {% endblock %}
