
{% extends "signedout.html" %}
{% block body %}
        <div class="container">
          <div class="blog-header ">
            <p class="lead blog-description">Rate your past judge</p>
            <p class="lead blog-description">Know your future judge</p>

          </div>
          {% for message in get_flashed_messages() %}
          {{ message }}<br />
          {% endfor %}
          <form method="POST" action="{{ url_for('account.signup') }}" class="form-signin" role="form">
             {{form.state(class='form-control',required=True)}}
          {{form.firstname(class='form-control',placeholder='First name',required=True,autofocus=True,onfocus='this.value = this.value;')}}
          {{form.lastname(class='form-control',placeholder='Last name',required=True,autofocus=True,onfocus='this.value = this.value;')}}
 {{form.barnumber(class='form-control',placeholder='Bar number',required=True)}}
             {{form.username(class='form-control',placeholder='User name',required=True,autofocus=True,onfocus='this.value = this.value;')}}

            {{form.email(class='form-control',placeholder='Email address',required=True)}}
            <input type="password" name="password" class="form-control" placeholder="Password" required>

            By clicking Sign up, you agree to our
            <a href="{{ url_for('company.terms') }}">terms</a>
            <br />
            Only your user name will be displayed<br />
            Your email will not be shared and will only be used to send you information regarding your account or any policy changes<br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button><br />
            Already have an account?  <a href="{{ url_for('account.signinform') }}">Sign in</a>
             {{ form.csrf_token }}
          </form>

        </div>


 {% endblock %}
