
{% extends "signedin.html" %}
{% block body %}
 <div class="container">
    <div class="blog-header ">
            <p class="lead blog-description">Lookup a judge</p>
          </div>
       <form method="GET" action="{{ url_for('judge.index') }}" class="form-signin" role="form">
           {{form.name(class='form-control',required=True,autofocus=True,onfocus='this.value = this.value;')}}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
             {% if current_user.user_role == "admin" %}
          <a href="{{ url_for('judge.add') }}">add active judge</a>
          <br />
          <a href="{{ url_for('judge.addretired') }}">add retired judge</a>
          {% endif %}

          </form>


</div>
 {% endblock %}
