
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Judge.com</title>
        <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <div class="blog-masthead">
          <div class="container">
            <div class="navbar-header">
                <nav class="blog-nav">
                  <a class="blog-nav-item active" href="#">Judge</a>
                  <a class="blog-nav-item" href="#">Reviews</a>
                  <a class="blog-nav-item" href="#">Add Review</a>
                  <a class="blog-nav-item" href="#">Create Account</a>
                  <a class="blog-nav-item" href="#">About</a>
                </nav>
            </div>
          </div>
        </div>

        <div class="container">

          <div class="blog-header">
            <h1 class="blog-title">Judge</h1>
            <p class="lead blog-description">Know your judge</p>
          </div>

          <div class="row"></div><!-- /.row -->

        </div><!-- /.container -->

        <div class="blog-footer">
          <p>
            <a href="#">Back to top</a>
          </p>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>
