
{% extends "signedout.html" %}
{% block body %}
        <div class="container">
          <div class="blog-header ">
            <p class="lead blog-description">Know your judge</p>
          </div>
        </div>

        <div class="container">
          <form class="form-signin" role="form">
            <input type="email" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            New user?  <a href="#about">Sign up</a>
            Forgot password?  <a href="#about">Reset password</a>
          </form>
        </div>

        <div class="container">
          <div class="blog-header ">
             <p class="lead blog-description">JudgeJungle helps attorneys pick the right judge for their case. <br/>It's like Voir dire but for judges.</p>
          </div>
        </div>
 {% endblock %}
