
/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  /*padding-top: 20px;
  padding-bottom: 20px;*/

  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* Bootstrap signin */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar  {
    background-color: #428bca;
    border: 1px solid #428bca;
    border-radius: 0px;
}

.navbar .navbar-collapse .navbar-nav a {
    color: #ffffff;
}

.navbar .navbar-collapse .navbar-nav a:hover {
    color: #cccccc;
}

.navbar-header .navbar-brand {
    color: #ffffff;
}

ul {
    list-style-type: none;
}

ul.form-control li {
    display:inline-block;
}



/* class for div that wraps the ratings image */
/* removes the absolute positioning of the clipped image */
.rating { position: relative; height: 15px; width: 84px; }

/* class for imaage inside div with class rating */
/* absolute positions of the clip rect(top-pos,right-pos,bot-pos,left-pos)
all positions relative to top or left of the image*/
.pos-1  { clip: rect(3px 87px 18px 3px); }

/* class for imaage inside div with class rating */
/* specified the negative offset to move up the rating clip from the image to the top*/
.clip-1 { position: absolute; top: -3px; left: 0; }

.clip-2 { position: absolute; top: -21px; left: -3px; }
.pos-2  { clip: rect(21px 87px 36px 3px); }

/*
.clip-3 { position: absolute; top: -39px; left: 0; }
.pos-3  { clip: rect(39px 87px 54px 3px); }
*/

.clip-4 { position: absolute; top: -57px; left: -3px; }
.pos-4  { clip: rect(57px 87px 72px 3px); }

/*
.clip-5 { position: absolute; top: -75px; left: 0; }
.pos-5  { clip: rect(75px 87px 90px 3px); }
*/

.clip-6 { position: absolute; top: -93px; left: -3px; }
.pos-6 { clip: rect(93px 87px 108px 3px); }

/*
.clip-7 { position: absolute; top: -111px; left: 0; }
.pos-7  { clip: rect(111px 87px 126px 3px); }
*/

.clip-8 { position: absolute; top: -129px; left: -3px; }
.pos-8  { clip: rect(129px 87px 144px 3px); }

/*
.clip-9{ position: absolute; top: -147px; left: 0; }
.pos-9  { clip: rect(147px 87px 162px 3px); }
*/

.clip-10 { position: absolute; top: -165px; left: -3px; }
.pos-10  { clip: rect(165px 87px 180px 3px);}

