{% macro render(review) %}
<h5>Average rating</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.average_rating_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

          <h5>Knowledge of the law</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.knowledge_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

          <h5>Courtroom decorum</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.decorum_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

          <h5>Issues tentatives</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.tentatives_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

          <h5>Curiosity towards attorneys</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.curiosity_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

<br />


        {{review.body}}<br />
{% endmacro %}
