{% extends "signedin.html" %}
{% block body %}
<div class="container">

<div class="blog-header ">
                <p class="lead blog-description"><a href="{{ url_for('user.profile',id=user.id) }}">{{user.username}}</a><br /><br />
                {% if reviews|length > 0 %}
                Reviews
 {% else%}
 No Reviews Found
 {% endif%}</p>
</div>

      {# <!-- <form method="GET" action="{{ url_for('judge.index') }}" class="form-signin" role="form">
           {{form.name(class='form-control',required=True,autofocus=True,onfocus='this.value = this.value;')}}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
          </form> --> #}
 <div class="blog-header ">
 {% if current_user.user_role != "admin" %}
                    {% for review in reviews %}
                     {{review.created_at.strftime('%Y-%m-%d') }}
                        for judge<a href="{{ url_for('judge.profile',id=review.judge_id) }}">{{review.judge_name}}</a>
                       <br />
                        <a href="{{ url_for('review.review',id=review.id) }}">details</a><br/><br/>
                    {% endfor %}
                {% endif%}

                {% if current_user.user_role == "admin" %}
                 {% for review in reviews %}
                 {{review.created_at.strftime('%Y-%m-%d') }}
                        for judge <a href="{{ url_for('judge.profile',id=review.judge_id) }}">{{review.judge_name}}</a>
                        <br />
                        <a href="{{ url_for('review.review',id=review.id) }}">details</a>&nbsp;|&nbsp;<a href="{{ url_for('review.edit',id=review.id) }}">edit</a><br/><br/>
                    {% endfor %}

                  {% endif%}

</div>

</div>

 {% endblock %}}
