{% extends "signedin.html" %}
{% block body %}
<div class="container">

  <div class="blog-header ">
    <p class="lead blog-description">
      {# % if reviews|length > 0 %}
        Reviews For Judge
      {% else%}
        No Reviews Found For Judge
      {% endif% #}
      <br />
      <a href="{{ url_for('judge.profile',id=judge.id) }}">{{judge.name}}</a><br />

      {%if judge.total_reviews > 0 %}
        <div class="rating">
          <img alt="gavel" class="{{judge.total_reviews_average_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>
      {% endif%}
      {{judge.total_reviews}}&nbsp;review{%if judge.total_reviews != 1 %}s{% endif%}
      <a href="{{url_for('review.add',id=judge.id)}}">add a review</a>
    </p>
  </div>

    <div class="blog-header ">
    {% if current_user.user_role != "admin" %}
      {% for review in reviews %}
      {{review.created_at.strftime('%Y-%m-%d') }}
        <div class="rating">
          <img alt="gavel" class="{{review.average_rating_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>
        by <a href="{{ url_for('user.profile',id=review.reviewer_id,judge=review.judge_id) }}">
        {{review.reviewer_name}}</a><br />
        <br />
        {{review.excerpt}}<br />
        <a href="{{ url_for('review.review',id=review.id) }}">details</a><br/><br/>
      {% endfor %}
    {% else %}
      {% for review in reviews %}
{{review.created_at.strftime('%Y-%m-%d') }}
        <div class="rating">
          <img alt="gavel" class="{{review.average_rating_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>

        by <a href="{{ url_for('user.profile',id=review.reviewer_id,judge=review.judge_id) }}">
        {{review.reviewer_name}}</a><br />
        <br />
        {{review.excerpt}}<br />
        <a href="{{ url_for('review.review',id=review.id) }}">details</a>&nbsp;|&nbsp;
        <a href="{{ url_for('review.edit',id=review.id) }}">edit</a><br/><br/>
      {% endfor %}
    {% endif%}
  </div>
</div>
{% endblock %}}
