{% extends "signedin.html" %}
{% block body %}
<div class="container">

   <div class="blog-header ">

       <p class="lead blog-description">

         Judge <a href="{{ url_for('review.index',id=review.judge_id) }}">{{review.judge_name}}</a>
         <br />
        {{judge.court}}<br />

      {%if judge.total_reviews > 0 %}
        <div class="rating">
          <img alt="gavel" class="{{judge.total_reviews_average_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>
        <div class="rating">
          <img alt="gavel" class="{{judge.knowledge_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>
        <div class="rating">
          <img alt="gavel" class="{{judge.decorum_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>
        <div class="rating">
          <img alt="gavel" class="{{judge.tentatives_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>
        <div class="rating">
          <img alt="gavel" class="{{judge.tentatives_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>
      {% endif%}
      {{judge.total_reviews}}&nbsp;review{%if judge.total_reviews != 1 %}s{% endif%}
    </p>
  </div>



      Reviewed by <a href="{{url_for('user.profile',id=reviewer.id)}}">{{reviewer.username}}</a>
    {%if reviewer.total_reviews > 0 %}
        <div class="rating">
          <img alt="gavel" class="{{reviewer.total_reviews_average_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>
        <div class="rating">
          <img alt="gavel" class="{{reviewer.knowledge_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>
        <div class="rating">
          <img alt="gavel" class="{{reviewer.decorum_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>
        <div class="rating">
          <img alt="gavel" class="{{reviewer.tentatives_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>
        <div class="rating">
          <img alt="gavel" class="{{reviewer.tentatives_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div>
      {% endif%}


         ({{reviewer.total_reviews}}&nbsp;review

        {%if reviewer.total_reviews != 1 %}s{% endif%})<br />
        {{review.created_at.strftime('%Y-%m-%d') }}<br />
        {% if current_user.user_role == "admin" %}
                <a href="{{url_for('review.edit',id=review.id)}}">edit</a>
        {% endif %}








          <h4>Average review rating</h4>
          <div class="rating">
          <img alt="gavel" class="{{review.average_rating_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br /><br />

          <h5>Knowledge of the law</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.knowledge_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

          <h5>Courtroom decorum</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.decorum_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

          <h5>Issues tentatives</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.tentatives_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

          <h5>Curiosity towards attorneys</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.curiosity_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br /><br />

          <h3>Review</h3>

        {{review.body}}<br />

    </div>
</div>
{% endblock %}}
