{% extends "signedin.html" %}
{% block body %}
{% import 'judge/_judge.html' as _judge %}
{% import 'user/_reviewer.html' as _reviewer %}
<div class="container">

   <!-- <div class="blog-header "> -->

       <p class="lead blog-description">


{{ _judge.render(judge) }}



    </p>
  <!-- </div> -->
<br /><br />
 <p class="lead blog-description">
{{ _reviewer.render(reviewer) }}
 </p>
<br /><br />
 <p class="lead blog-description">


        Review on {{review.created_at.strftime('%Y-%m-%d') }}<br />
        {% if current_user.user_role == "admin" %}
                <a href="{{url_for('review.edit',id=review.id)}}">edit</a>
        {% endif %}

 </p>



 <div class="blog-header ">


          <h5>Average rating for this review</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.average_rating_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

          <h5>Knowledge of the law</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.knowledge_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

          <h5>Courtroom decorum</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.decorum_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

          <h5>Issues tentatives</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.tentatives_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

          <h5>Curiosity towards attorneys</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.curiosity_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
          </div><br />

<br />


        {{review.body}}<br />

    </div>
  </div>
</div>
{% endblock %}}
