{% extends "signedin.html" %}
{% block body %}
<div class="container">
    <div class="blog-header ">

         <p class="lead blog-description">
         Judge <a href="{{ url_for('review.index',id=review.judge_id) }}">{{review.judge_name}}</a>
         <br />
         Reviewed by <a href="{{url_for('user.profile',id=review.reviewer_id)}}">{{review.reviewer_name}}</a>
         ({{reviewer.total_reviews}}&nbsp;review{%if reviewer.total_reviews != 1 %}s{% endif%})<br />
        {{review.created_at.strftime('%Y-%m-%d') }}<br />


        {% if current_user.user_role == "admin" %}
                <a href="{{url_for('review.edit',id=review.id)}}">edit</a>
        {% endif %}

        </p>

    <h4>Average review rating</h4>

    <div class="rating">
          <img alt="gavel" class="{{review.average_rating_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div><br /><br />
        <h5>Overall Rating</h5>
         <div class="rating">
          <img alt="gavel" class="{{review.rating_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div><br />
         <h5>Knowledge of the law</h5>
          <div class="rating">
          <img alt="gavel" class="{{review.knowledge_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div><br />

          <h5>Courtroom decorum</h5>
           <div class="rating">
          <img alt="gavel" class="{{review.decorum_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div><br />

           <h5>Issues tentatives</h5>
            <div class="rating">
          <img alt="gavel" class="{{review.tentatives_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div><br />

            <h5>Curiosity towards attorneys</h5>
             <div class="rating">
          <img alt="gavel" class="{{review.curiosity_class()}}"
            src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
        </div><br /><br />


        {{review.body}}<br />

    </div>
</div>
{% endblock %}}
