{% extends "signedin.html" %}
{% block body %}
     <div class="container">
      <div class="blog-header ">
                <p class="lead blog-description">Edit sitting judge</p>
      </div>
       <form method="POST" action="{{ url_for('judge.edit',id=id) }}" class="form-signin" role="form">
           {{form.name(class='form-control',required=True,autofocus=True,onfocus='this.value = this.value;')}}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>
             {{ form.csrf_token }}
          </form>





    </div>

 {% endblock %}
