
{% extends "signedin.html" %}
{% block body %}
<div class="container">
  <form method="GET" action="{{ url_for('judge.index') }}" class="form-signin" role="form">
    {{form.name(class='form-control',required=True,placeholder='Enter judge name',autofocus=True,
    onfocus='this.value = this.value;')}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
  </form>

  <div class="blog-header ">
  {% if message %}
    {{message}}
      <a href="{{ url_for('judge.submit',name=name) }}">review {{name}}</a>
  {% else %}
    <div class="blog-header ">
      <p class="lead blog-description">Results</p>
    </div>
  {% endif %}


  {% if current_user.user_role != "admin" %}
   {% for judge in judges %}
    <a href="{{ url_for('review.index',id=judge.id) }}"> {{judge.name}}</a> <br />
    {{judge.total_reviews}} review{%if judge.total_reviews != 1 %}s{% endif%}<br />
    {%if judge.total_reviews > 0 %}
    <div class="rating">
      <img alt="gavel" class="{{judge.total_reviews_average_class()}}"
        src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
    </div>
    {% endif%}
    <a href="{{ url_for('review.add',id=judge.id) }}">add a review</a>
    <br />
    <br />
    {% endfor %}
  {% else %}
    {% for judge in judges %}
    <a href="{{ url_for('review.index',id=judge.id) }}"> {{judge.name}}</a> <br />
    {{judge.total_reviews}} review{%if judge.total_reviews != 1 %}s{% endif%}<br />
    {%if judge.total_reviews > 0 %}
    <div class="rating">
      <img alt="gavel" class="{{judge.total_reviews_average_class()}}"
        src="{{url_for('static',filename='png/gavels_v1.png')}}"  />
    </div>
    {% endif%}
    <a href="{{ url_for('review.add',id=judge.id) }}">add a review</a>&nbsp;|&nbsp;
    <a href="{{ url_for('judge.edit',id=judge.id) }}">edit judge</a>
    <br />
    <br />
    {% endfor %}
  {% endif%}
  </div>

</div>
{% endblock %}
