{% extends "signedin.html" %}
{% block body %}
     <div class="container">



        <div class="blog-header ">
Judge Details<br /><br />
Name: {{judge.name}}<br />
State: {{judge.state}}<br />
Retired:{%if judge.retired%}
          Yes
        {%else%}
          No
        {%endif%}<br />
Type: {%if judge.retired%}
    {%if judge.scope == 1 %}
       Moderator
    {%else%}
       Arbitrator
    {%endif%}

{%else%}
{%if judge.scope == 1 %}
       State
    {%else%}
       Federal
    {%endif%}
{%endif%}
<br />

 <a href="{{ url_for('judge.track',id=judge.id) }}">track</a><br />

<a href="{{ url_for('review.index',id=judge.id) }}">reviews</a>&nbsp;|&nbsp;<a href="{{ url_for('review.add',id=judge.id) }}">add a review</a>
{%if can_show_edit_judge_link%}
                {#{% if current_usr.user_role == "admin" %}#}
&nbsp;|&nbsp;
                        <a href="{{ url_for('judge.edit',id=judge.id) }}">edit judge</a><br />

                  {% endif%}
        </div>

    </div>

 {% endblock %}
