
{% extends "company.html" %}
{% block body %}
        <div class="container">
 <div class="blog-header ">
            <p class="lead blog-description">About us</p>
          </div>


JudgeJungle was founded to help attornys find the most accurate information about judges that would be presiding over on their court case.<br />


<div class="blog-header ">
            <p class="lead blog-description">Founders</p>
          </div>
Armen Shaghzo<br />
Co-founder and CEO<br />
Armen has been a practicing attorney since ...
<br /><br />
Areg Sarkissian<br />
Co-founder and CTO<br />
Areg has been involved in the computer hardware and software industries since 1985.
He is a veteran of Boeing where he develped embedded avionic hardware and software. Later he moved to Averstar where he worked on multi-player online game technoolgy projects for engage games online and interplay interactive.
Areg was also a principle software engineer at America Online where he worked on mobile device networking and web browser technology. Before co-founding JudgeJungle areg worked as a software architect at Autobytel.com where he co-architected online lead processing web services and worked on web site design and architecture.
<br /><br />


        </div>



 {% endblock %}
