{% extends "signedin.html" %}
{% block body %}
     <div class="container">
      <div class="blog-header ">
                <p class="lead blog-description">Manage User</p>
      </div>
 {% if current_user.user_role == "admin" %}

      <div class="blog-header ">

      <a href="{{ url_for('user.profile',id=user.id) }}">{{user.username}}</a>
      </div>

    <div class="blog-header ">
      {%if user.user_role != "admin"%}
             <form method="POST" action="{{ url_for('user.edit',id=user.id) }}" class="form-signin" role="form">
                banned:{{form.banned(class='form-control')}}
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>
                   {{ form.csrf_token }}
                </form>
      {% else %}
        <h2>admin can not be managed</h2>
      {% endif %}
      </div>
 {% endif %}



    </div>

 {% endblock %}
