{% extends "signedin.html" %}
{% block body %}
<div class="container">



 <div class="blog-header ">
 {% if current_user.user_role != "admin" %}
                    {% for user in users %}
                    <a href="{{ url_for('user.profile',id=user.id) }}">{{user.username}}</a>
                     Since: {{user.created_at.strftime('%Y-%m-%d') }}
                       <br/><br/>
                    {% endfor %}
{% endif%}

{% if current_user.user_role == "admin" %}
                      {% for user in users %}
                         username:
                         <a href="{{ url_for('user.profile',id=user.id) }}">
                         {{user.username}}</a>&nbsp;|&nbsp;
                         <a href="{{ url_for('user.edit', id=user.id) }}">manage</a><br />
                         Since: {{user.created_at.strftime('%Y-%m-%d') }}<br />
                         email: {{user.email}}<br />
                         role: {{user.user_role}} <br />
                         status:
                          {% if user.banned == True %}Banned
                          {% elif user.activated == True %}Active
                          {% else %}Pending Activation
                          {% endif%}
                             <br/><br/>
                    {% endfor %}

{% endif%}

</div>

</div>

 {% endblock %}}
