{% extends "signedin.html" %}
{% block body %}
{% import 'user/_reviewer.html' as _reviewer %}
<div class="container">
    <div class="blog-header ">








{{ _reviewer.render(user) }}







  {% if current_user.user_role == "admin" %}
  <br />
        {% if current_user.user_role == "admin" %}
             email: {{user.email}}<br />
        {% endif%}

       role: {{user.user_role}}<br />
       status:
        {% if user.banned == True %}Banned
        {% elif user.activated == True %}Active
        {% else %}Pending Activation
        {% endif%}
        <a href="{{ url_for('user.edit', id=user.id) }}">manage</a>
            <br />



  {% endif %}

    </div>

</div>
{% endblock %}}
