{% extends "signedin.html" %}
{% block body %}
<div class="container">
    <div class="blog-header ">

{{user.username}}<br />
        since: {{user.created_at.strftime('%Y-%m-%d') }}
<a href="{{ url_for('review.reviewer',id=user.id) }}">reviews</a>
 {% if judge_id != None %}&nbsp;|&nbsp;
 <a href="{{ url_for('judge.profile',id=judge_id) }}">judge</a>
 {% endif %}
        {% if current_user.user_role == "admin" %}


<br />
                         email: {{user.email}}<br />
                         role: {{user.user_role}} <br />
                         status:
                          {% if user.banned == True %}Banned
                          {% elif user.activated == True %}Active
                          {% else %}Pending Activation
                          {% endif%}
                          <a href="{{ url_for('user.edit', id=user.id) }}">manage</a>
<br />

<a href="{{ url_for('user.index') }}">users</a>

        {% endif %}

    </div>

</div>
{% endblock %}}
